
#header{
	margin:0 auto;
	padding:0 auto;
	clear:both;
	display:block;
	height:50px;
}

.bar {
	float:right;
	margin-top:10px;
	margin-right:10px;
}

#mail {
margin-top:5px;
margin-right:8px;
text-decoration:none;
color:black;
}

#mail:hover{
	text-decoration:underline;
}

#image {
text-decoration:none;
margin-top:5px;
margin-right:8px;
}

#image:hover{
	text-decoration:underline;
}

div span a {
	text-decoration:none;
	color:black;
}

div span a:hover {
	text-decoration:underline;
}

#footer{
	text-decoration:none;
	display:block;
	clear:both;
	margin-top:18.9%;
	height:40px;
	background-color:#f2f2f2;
}

#l_foot{
	float:left;
	padding-top:11px;
	font-size:14px;
	color:grey;
}
#l_foot span a{
	padding-left:20px;
}

#r_foot{
	float:right;
	padding-top:10px;
	font-size:14px;
}

#r_foot span a {
	padding-right:20px;
}
#logo {
	top:100px;
	margin-left:auto;
	margin-right:auto;
	width:272px;
	position:relative;

}

.search {
	width:550px;
	height:35px;
	right:100px;
	display:block;
	margin-top: 125px;
	margin-left:auto;
	margin-right:auto;
	border-color:black;
	border-width:1px;
	
	}
	
.submit {
	width:114px;
	height:34px;
	border:none;
	margin-left:42%;
	margin-top:1.5%;
	background-color:#f2f2f2;
	font-weight:bold;
	color:#757575;
	display:inline-block;

}

.submit:hover {
	border:solid gray;
	border-width:1px;
	color:black;
}	

.lucky{
	top:150px;
	width:118px;
	height:34px;
	right:24px;
	text-align:center;
	border:none;
	background-color:#f2f2f2;
	font-weight:bold;
	color:#757575;
	display:inline-block;

}

.lucky:hover{
	border:solid gray;
	border-width:1px;
	color:black;
}
body{
	margin:0 ;
}